.content_heading
  position: relative
  @apply bg-game-card rounded-16px border border-card backdrop-blur-lg pt-180px
  .im_community
    @apply absolute w-300px md:w-360px lg:w-full -top-180px left-1/2 -translate-x-1/2 md:-top-150px xl:-top-220px
  .text
    padding: 0px 24px 24px 24px
    .title_game
      @apply text-white text-36px
      font-weight: 600
    h5
      @apply text-emerald-2 text-24px
      font-weight: 600
      padding: 8px 0px
    p
      @apply text-white text-20px
      font-weight: 300
      line-height: 28px
      min-height: 170px
    a
      color: #B1FFF8
      font-size: 18px
      line-height: 20px
      font-weight: 300
      display: block
      text-align: right
      text-decoration-line: underline
      text-underline-offset: 2px
      position: absolute
      right: 24px
      bottom: 24px
@media (min-width: 1025px) and (max-width: 1280px)
  .content_heading
    padding-top: 130px
    .text
      .title_game
        font-size: 28px
      h5
        font-size: 20px
        padding: 0px 0px 8px 0px
      p
        font-size: 16px
        min-height: 180px
      a
        font-size: 16px
@media (min-width: 768px) and (max-width: 1024px)
  .content_heading
    padding-top: 90px
  .im_community 
    .text
      .title_game
        font-size: 20px
      h5
        font-size: 16px
        padding: 0px 0px 8px 0px
      p
        font-size: 15px
        min-height: 200px
      a
        font-size: 16px
@media (min-width: 399px) and (max-width: 768px)
  .content_heading
    padding-top: 200px
    .im_community
      width: 380px
    .text
      .title_game
        font-size: 24px
      h5
        font-size: 18px
        padding: 0px 0px 8px 0px
      p
        font-size: 18px
        min-height: 90px
      a
        font-size: 16px
    

@media (min-width: 0px) and (max-width: 413px)
  .content_heading
    padding-top: 200px
    .im_community
      width: 360px
    .text
      .title_game
        font-size: 24px
      h5
        font-size: 16px
        padding: 0px 0px 8px 0px
      p
        font-size: 16px
        min-height: 90px
      a
        font-size: 16px