.raffles_wrapper
    width: 100%
    height: 660px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .header
        .bigName
            color: white
            font-family: 'RevxNeueDemo'
            font-style: normal
            font-weight: 400
            font-size: 48px
            line-height: 53px
            text-align: center
            letter-spacing: 0.2em
        .subTitle
            font-family: 'Lexend'
            font-style: normal
            font-weight: 300
            font-size: 24px
            line-height: 33px
            text-align: center
            letter-spacing: 0.04em
            color: #DBE0E8
    .body
        background: url("/assets/homepage/raffles/bgRaffles.png") no-repeat
        width: 1089px
        height: 342px
        padding: 0 260px
        display: flex
        position: relative
        .banner1, .banner2, .banner3
            position: absolute
        .banner1
            top: 141px
            left: 155px
            img
                width: 320px
                height: 160px
