@import "styles/common"
.block_item
  @apply flex flex-row items-center justify-center flex-wrap
  padding-bottom: 120px
  .item_backer
    @apply flex flex-row items-center justify-center
    margin-bottom: 40px
    margin: 20px 60px
    @media (min-width: 0px)
      margin: 12px 30px
    @media (min-width: 1280px)
      margin: 12px 50px
    @media (min-width: 1440px)
      margin: 20px 60px

    img
      @media (min-width: 0px)
        max-width: 100px
      @media (min-width: 640px)
        max-width: 120px      
      @media (min-width: 1280px)
        max-width: 150px
      @media (min-width: 1440px)
        max-width: 200px

