@import "styles/common"
.block_item
  @apply flex flex-row items-center justify-between flex-wrap
  .item_backer
    @apply flex flex-row items-center justify-center
    margin-bottom: 40px
    width: 22%


@media (min-width: 769px) and (max-width: 991px)
  .item_backer
    width: 32% !important
@media (min-width: 640px) and (max-width: 768px)
  .item_backer
    width: 48% !important
@media (min-width: 540px) and (max-width: 639px)
  .item_backer
    width: 48% !important
@media (min-width: 414px) and (max-width: 539px)
  .item_backer
    width: 45% !important

@media (min-width: 0px) and (max-width: 413px)
  .item_backer
    width: 100% !important