@import "styles/common"

.container_banner
  @include container
  padding: 0px 0px 0px 100px !important
  // background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),          linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%)

.im_banner
  @include flex-rear
  img
    width: 100%

.heading
  position: relative
  z-index: 2
  h1
    @apply text-white
    @include my-text(62px, 58px, 700)
    font-family: 'MyFont'
    z-index: 2
  p
    @apply text-white
    @include my-text(28px, 36px, 400)
    font-weight: 400
    padding-top: 10px

.groupButton
  margin-top: 70px
  @apply flex flex-row items-center justify-between flex-wrap
  button
    overflow: inherit
    min-width: 268px
    border-radius: 16px
    padding: 16px 0px
    margin-bottom: 24px
    @include my-text(20px, 28px, 500)
    @apply text-white
    cursor: pointer
    transition: 0.3s
    font-weight: 400
  button:hover
    transform: scale(1.06) translateY(-10px)

  .btn_investor
    margin-right: 12px
    background: linear-gradient(99.92deg, #CD28E8 0%, #0BEBD6 100%)
  .btn_Scholar
    position: relative
    backdrop-filter: blur(3px)
  .btn_Scholar::before
    content:""
    position: absolute
    top:0
    left:0
    right:0
    bottom:0
    border-radius: 16px 
    padding: 2px 
    background: linear-gradient(99.92deg, #CD28E8 0%, #0BEBD6 100%)
    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)
    -webkit-mask-composite: xor
    mask-composite: exclude 






.content_glass
  min-width: 745px
  position: relative
.content_glass:after
  content: ''
  height: 130% 
  width: 130%
  @apply absolute
  border-radius: 100%
  border: 2px solid transparent
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0)
  -webkit-mask-composite: xor
  mask-composite: exclude
  background: linear-gradient(75deg, #AE5FA6 0%, #A85CA4 0.59%, #8D509D 3.58%, #764697 6.9%, #613F93 10.53%, #503990 14.57%, #42358E 19.21%, #36338C 24.8%, #30328B 32.31%, #2E318B 50%, #30328B 67.69%, #36338C 75.2%, #42358E 80.79%, #503990 85.43%, #613F93 89.47%, #764697 93.1%, #8D509D 96.42%, #A85CA4 99.41%, #AE5FA6 100%)
  top: -100px
  left: -100px
  z-index: 1

.block_total
  @apply flex flex-row items-center justify-between flex-wrap relative
  padding-right: 100px
  z-index: 2


@media (min-width: 1025px) and (max-width: 1400px)
  .container_banner
    .heading
      h1
        font-size: 48px
      p
        font-size: 28px
    .groupButton
      button
        font-size: 18px
    .content_glass
      min-width: 600px
    .block_total
      justify-content: center
      margin-top: 40px
@media (min-width: 992px) and (max-width: 1024px)
  .container_banner
    .heading
      h1
        font-size: 40px
      p
        font-size: 24px
    .groupButton
      button
        font-size: 18px
    .content_glass
      min-width: 600px
    .block_total
      justify-content: center
      margin-top: 40px

@media (min-width: 768px) and (max-width: 991px)
  .container_banner
    padding: 100px 50px 0px 50px !important
    max-width: 768px
  .im_banner
    @apply flex-col
  .groupButton
    max-width: 500px

  .content_glass
    width: 100%
    min-width: 100%
    transform: translate(154px, -130px)
  .content_glass:after
    display: none
  .block_total
    justify-content: center
    padding-right: 0

@media (min-width: 540px) and (max-width: 767px)
  .container_banner
    padding: 50px 50px 0px 50px !important
    max-width: 540px
    .heading
      h1
        font-size: 36px
      p
        font-size: 20px
  .im_banner
    @apply flex-col 
  .groupButton
    max-width: 500px
    margin-top: 20px
    @apply flex flex-row items-center justify-between
    button
      font-size: 18px
      width: 48%
      min-width: auto
      margin-right: 0
  .content_glass
    width: 100%
    min-width: 100%
    order: -1
  .content_glass:after
    display: none
  .block_total
    justify-content: space-between
    padding-right: 0


@media (min-width: 0px) and (max-width: 539px)
  .container_banner
    max-width: 375px
    padding: 100px 20px 0px 20px !important
    .heading
      h1
        font-size: 32px
        line-height: 36px
      p
        font-size: 16px
        line-height: 26px
  .im_banner
    @apply flex-col
  .groupButton
    max-width: 500px
    margin-top: 30px
  .groupButton
    button
      font-size: 12px
      min-width: 48%
      padding: 8px 0px
      margin-right: 0px
  .content_glass
    width: 100%
    min-width: 100%
    order: -1
  .content_glass:after
    display: none
  .block_total
    padding-right: 0
    justify-content: space-between