@import "styles/common"
.content_video
  max-width: 920px
  height: 520px
  margin: 0 auto
  padding: 10px
  @apply relative
  iframe
    @apply w-full h-full relative
    border-radius: 16px 
.bg_video
  @apply absolute h-full cursor-pointer
  top: 6px
  left: 7px
  img
    width: 99%
.content_video::before
  content:""
  position: absolute
  top:0
  left:0
  right:0
  bottom:0
  border-radius: 16px 
  padding: 10px 
  background: linear-gradient(99.92deg, #CD28E8 0%, #0BEBD6 100%)
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)
  -webkit-mask-composite: xor
  mask-composite: exclude 
.group_ic
  @apply flex flex-row items-center justify-between flex-wrap
  max-width: 920px
  margin: 100px auto 0px auto
  .ic_item
    cursor: pointer
    margin-bottom: 12px
  .ic_item > a
    display: block
    border-radius: 100%
    max-width: 100px
    box-shadow: 0px 2px 40px rgba(255, 255, 255, 0.3)
    margin: 0 auto

@media (min-width: 1025px) and (max-width: 1279px)
  .content_video
    height: 508px

@media (min-width: 992px) and (max-width: 1024px)
  .content_video
    height: 508px
@media (min-width: 769px) and (max-width: 991px)
  .content_video
    height: 400px
@media (min-width: 640px) and (max-width: 768px)
  .content_video
    margin-top: 40px
    height: 328px
  .group_ic
    justify-content: space-between
    .ic_item
      width: 14%
      

@media (min-width: 540px) and (max-width: 639px)
  .content_video
    max-width: 508px
    margin-top: 40px
    height: 290px
  .group_ic
    justify-content: space-between
    .ic_item
      width: 14%
@media (min-width: 414px) and (max-width: 539px)
  .content_video
    max-width: 382px
    margin-top: 40px
    height: 222px
  .group_ic
    justify-content: space-between
    .ic_item
      width: 14%

@media (min-width: 0px) and (max-width: 413px)
  .content_video
    margin-top: 40px
    height: 222px
  .group_ic
    margin-top: 20px
    .ic_item
      margin: 12px 0px
      width: 14%