@import "styles/common"

.container
  @include container


@media (min-width: 1280px) and (max-width: 1439px)
  .container
    max-width: 1280px
    padding: 0 5rem
@media (min-width: 1025px) and (max-width: 1279px)
  .container
    max-width: 1025px
    padding: 0 4rem

@media (min-width: 992px) and (max-width: 1024px)
  .container
    max-width: 992px
    padding: 0 3rem
@media (min-width: 769px) and (max-width: 991px)
  .container
    max-width: 992px
    padding: 0px 150px
@media (min-width: 640px) and (max-width: 768px)
  .container
    max-width: 640px
    padding: 0 2rem

@media (min-width: 540px) and (max-width: 639px)
  .container
    max-width: 540px
    padding: 0px 20px
@media (min-width: 414px) and (max-width: 539px)
  .container
    max-width: 414px
    padding: 0px 1rem

@media (min-width: 0px) and (max-width: 413px)
  .container
    max-width: 360px
    padding: 0px 1rem