@import "styles/common"

.container
  @include container
  margin-top: 200px

  .heading_feature
    @include my-text(72px, 82px, 700)
    @apply text-white
    font-family: 'MyFont'
    padding-bottom: 60px