@import "styles/common"

.container
  @include container
  margin-top: 160px
  .heading_footer
    @apply flex flex-row items-center justify-between flex-wrap
    .group_ic
      @apply flex flex-row items-center justify-between flex-wrap
      max-width: 720px
      margin-top: 100px
      .ic_item
        width: 78px
        height: 78px
        box-shadow: (0px 2px 40px rgba(255, 255, 255, 0.3))
        background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
        border-radius: 100%
        transition: 0.3s
        padding: 12px
        margin: 12px 20px
        @apply overflow-hidden flex flex-row items-center justify-center cursor-pointer
      .ic_item:hover
        box-shadow: (0px 2px 40px rgba(255, 255, 255, 0.5))



@media (min-width: 1025px) and (max-width: 1400px)
  .container
    max-width: 1025px
    padding: 0

@media (min-width: 992px) and (max-width: 1024px)
  .container
    max-width: 992px
    .heading_footer
      flex-direction: column
      .group_ic
        margin-top: 20px
@media (min-width: 769px) and (max-width: 991px)
  .container
    max-width: 769px
    padding: 0px 50px
    .heading_footer
      flex-direction: column
      .group_ic
        margin-top: 20px
        justify-content: center
@media (min-width: 640px) and (max-width: 768px)
  .container
    max-width: 640px
    padding: 0px 20px
    .heading_footer
      flex-direction: column
      .group_ic
        margin-top: 20px
        justify-content: center

@media (min-width: 540px) and (max-width: 639px)
  .container
    max-width: 540px
    padding: 0px 20px
    .heading_footer
      flex-direction: column
      .group_ic
        margin-top: 20px
        justify-content: center
@media (min-width: 414px) and (max-width: 539px)
  .container
    max-width: 414px
    padding: 0px 12px
    .heading_footer
      flex-direction: column
      .group_ic
        margin-top: 20px
        justify-content: center

@media (min-width: 0px) and (max-width: 413px)
  .container
    max-width: 360px
    padding: 0px 12px
    .heading_footer
      flex-direction: column
      .group_ic
        margin-top: 20px
        justify-content: center