@import "styles/common"


.pcMenu
  background: none
  position: relative
  z-index: 10
.logo
  height: 75px
  width: 268px
  align-items: center
  display: flex
  cursor: pointer

@media (min-width: 992px) and (max-width: 1024px)
  .container
    max-width: 992px
    padding: 0px 3rem

@media (min-width: 0px) and (max-width: 414px)
  .container
    max-width: 360px
    padding: 0px 1rem
