.block_item
  @apply flex flex-row items-center justify-between


@media (min-width: 1025px) and (max-width: 1279px)

@media (min-width: 992px) and (max-width: 1024px)
  .container
    max-width: 992px
    padding: 0px 3rem
    .block_item
      @apply justify-between flex-wrap
@media (min-width: 769px) and (max-width: 991px)
  .block_item
    @apply justify-between flex-wrap
@media (min-width: 640px) and (max-width: 768px)
  .block_item
    @apply justify-between flex-wrap
@media (min-width: 540px) and (max-width: 639px)
  .block_item
    @apply justify-between flex-wrap

@media (min-width: 415px) and (max-width: 539px)
  .container
    margin-top: 60px
    .block_item
      @apply justify-between flex-wrap
@media (min-width: 0px) and (max-width: 414px)
  .container
    margin-top: 60px
    .block_item
      @apply justify-between flex-wrap