@import "styles/common"

.containerTeam
  @apply flex flex-col items-center
  min-width: 282px
  margin: 24px 0px
  .content_im
    min-height: 256px
    background: linear-gradient(99.92deg, #CD28E8 0%, #0BEBD6 100%)
    border-radius: 100%
    width: 256px
    @apply h-full relative
    .im_team
      display: flex
      flex-direction: column
      align-items: center
      width: 250px
      border-radius: 100%
      overflow: hidden
      padding-top: 15px
    .bg_team
      position: absolute
      top: 0
      left: 0
    .im_team1
      padding-left: 2px
      padding-top: 0px
      img
        position: absolute
        top: -8px
        left: 8px
        filter: drop-shadow(0px 0px 8px rgba(155, 251, 242, 0.37))
  .heading_team
    padding-top: 20px
    text-align: center
    p
      @include my-text(24px, 28px, 700)
      color: #00CDFC
      font-family: 'MyFont'
    span
      @include my-text(24px, 28px, 400)
      color: #FFFFFF





@media (min-width: 992px) and (max-width: 1279px)
  .containerTeam
    .content_im
      width: 200px
      min-height: 200px
@media (min-width: 992px) and (max-width: 1439px)
  .containerTeam
    min-width: 24%
    max-width: 24%
    margin: 12px 0px
    .content_im
      .im_team
        width: 96%
        padding-top: 9px
        padding-left: 2px
      .im_team1
        width: 94%
        padding: 11px 0px 0px 10px !important

@media (min-width: 540px) and (max-width: 639px)
  .containerTeam
    min-width: 220px
    max-width: 220px
    margin: 12px 0px
    .content_im
      width: 200px
      min-height: 200px
      .im_team
        width: 206px
        margin-left: 3px
        padding-top: 13px
      .im_team1
        padding-left: 14px
        padding-top: 8px
        img
          filter: drop-shadow(0px 0px 7px rgba(155, 251, 242, 0.37))
          top: -4px
          left: 3px
@media (min-width: 0px) and (max-width: 540px)
  .containerTeam
    min-width: 47%
    max-width: 47%
    margin: 12px 0px
    .content_im
      width: 135px
      min-height: 135px
      .im_team
        width: 95%
        padding-top: 9px
        padding-left: 2px
      .im_team1
        width: 94%
        padding: 10px 0px 0px 8px !important
        img
          top: 0px
          left: 0px
          filter: drop-shadow(0px 0px 7px rgba(155, 251, 242, 0.37))

    .heading_team
      p
        font-size: 18px
      span
        font-size: 18px
      

@media (min-width: 414px) and (max-width: 540px)
  .containerTeam
    .content_im
      .im_team1
        width: 94%
        padding: 10px 0px 0px 8px !important
        img
          top: 0px
          left: 0px
          filter: drop-shadow(0px 0px 7px rgba(155, 251, 242, 0.37))