.containerTeam
  display: flex
  flex-flow: column
  justify-content: center
  flex: 45% 0 0
  margin: 20px 0px
  @media (min-width: 992px)
    flex: 18% 0 0
  .content_im
    position: relative
    display: flex
    justify-content: center
    .im_team
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 110px
      @media (min-width: 414px)
        width: 130px
      @media (min-width: 540px)
        width: 160px
      @media (min-width: 640px)
        width: 190px
      @media (min-width: 768px)
        width: 200px
      @media (min-width: 992px)
        width: 110px
      @media (min-width: 1280px)
        width: 140px
      @media (min-width: 1440px)
        width: 160px
  .heading_team
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    padding-top: 10px
    span
      font-style: normal
      font-weight: 400
      font-size: 12px
      line-height: 130%
      text-align: center
      color: #FFFFFF
      @media (min-width: 640px)
        font-size: 16px

      a
        font-family: 'Transformer'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 115%
        text-align: center
        color: #00CDFC
        @media (min-width: 640px)
          font-size: 20px