.wrapper
  overflow: hidden
  @media (min-width: 1024px)
    margin: 0 auto
  
  .styleContent
    @media ( min-width: 1024px )
      margin-top: 0

  button
    @media ( min-width: 768px )
      width: 300px !important
