@import "styles/common"

.block_team
  @apply flex-row items-center flex-wrap
  display: flex !important
  justify-content: start
.block_team > div
  @media ( min-width: 0px )
    margin-right: 0px
  @media ( min-width: 992px )
    margin-right: 30px
  @media ( min-width: 1440px )
    margin-right: 30px
    
.heading_feature
  @apply flex flex-row items-center justify-between
  margin-bottom: 50px
  .group_btn
    @apply flex flex-row items-center justify-center
    button
      background: rgba(232, 231, 255, 0.2)
      margin: 0px 8px
      width: 68px
      height: 68px
      border-radius: 4px
      @apply flex flex-row items-center justify-center










@media (min-width: 640px) and (max-width: 768px)
  .block_team
    justify-content: space-between
  .heading_feature
    .group_btn
      button
        width: 46px
        height: 46px
        padding: 0
@media (min-width: 540px) and (max-width: 639px)
  .block_team
    justify-content: space-between
  .heading_feature
    .group_btn
      button
        width: 46px
        height: 46px
        padding: 0
@media (min-width: 414px) and (max-width: 539px)
  .block_team
    justify-content: space-between

  .heading_feature
    .group_btn
      button
        width: 46px
        height: 46px
        padding: 0
  
@media (min-width: 0px) and (max-width: 413px)
  .block_team
    justify-content: space-between

  .heading_feature
    .group_btn
      button
        width: 46px
        height: 46px
        padding: 0