.wrapper
  background: rgba(0, 6, 37, 0.48)
.container
  display: flex
  align-items: center
  position: relative
  &:after
    position: absolute
    background: url("/assets/homepage/bg_list_luckychest.svg") no-repeat top center
    background-size: auto
    bottom: 0
    width: 1641px
    aspect-ratio: 1641/653
    left: -70%
    top: -9%
    z-index: 0
    opacity: 0.4
    @media screen and (min-width: 992px)
      content: ""
      width: 1160px
      left: -40%
      top: -9%
    @media screen and (min-width: 1200px)
      width: 1300px
      left: -31%
      top: -10%
    @media screen and (min-width: 1400px)
      width: 1641px
      left: -19%
      top: -1%
    @media screen and (min-width: 1600px)
      top: -5%
  @media screen and (max-width: 991px)
    flex-direction: column-reverse
  @media screen and (min-width: 1400px)
    width: 1320px !important
    height: 580px
  @media screen and (min-width: 1600px)
    width: 1400px !important
  .leftContainer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: relative
    @media screen and (min-width: 992px)
      justify-content: flex-start
      align-items: flex-start
      padding-top: 55px
    @media screen and (min-width: 1200px)
      padding-top: 25px
    @media screen and (min-width: 1400px)
      padding-top: 50px
    @media screen and (min-width: 1600px)
      padding-top: 0
  .listItems
    display: flex
    min-width: 360px
    max-width: 360px
    gap: 8px 8px
    margin-bottom: 24px !important
    @media screen and (min-width: 375px) and (max-width: 574px)
      min-width: 375px
      max-width: 375px
    :global(.swiper-slide)
      height: auto
      margin-top: 0 !important
      @media screen and (max-width: 374px)
        width: 84px !important
      @media screen and (min-width: 375px) and (max-width: 574px)
        width: 87px !important
      @media screen and (min-width: 992px)
        margin-bottom: 8px !important

    :global(.swiper-grid-column>.swiper-wrapper)
      flex-direction: row
    @media screen and (min-width: 575px)
      min-width: 540px
      max-width: 540px
    @media screen and (min-width: 768px)
      min-width: 720px
      max-width: 720px
    @media screen and (min-width: 992px)
      min-width: 463px
      max-width: 463px
    @media screen and (min-width: 1200px)
      min-width: 556px
      max-width: 556px
    @media screen and (min-width: 1400px)
      min-width: 824px
      max-width: 824px
  .btn
    width: 125px
    padding: 10px 0
    background: linear-gradient(93.02deg, #1889E4 0.52%, #0BEBD6 100.48%)
    position: relative
    cursor: pointer
    margin-bottom: 24px
    z-index: 10
    overflow: hidden
    @media screen and (min-width: 768px)
      width: 258px
    @media screen and (min-width: 1400px)
      width: 338px
    div
      font-family: 'RevxNeueDemo', serif
      font-weight: 400
      font-size: 12px
      line-height: 13px
      text-align: center
      letter-spacing: 0.2em
      text-transform: uppercase
      color: #000000
      height: 12px
      position: relative
      z-index: 5
      @media screen and (min-width: 768px)
        font-size: 18px
        line-height: 22px
        height: 18px
      @media screen and (min-width: 992px)
        font-size: 24px
        line-height: 28px
        height: 25px
      @media screen and (min-width: 1400px)
        font-size: 28px
        line-height: 31px
        height: 28px
    &:before
      content: ''
      display: block
      position: absolute
      top: 1px
      right: 1px
      bottom: 1px
      left: 1px
      border: 1px solid #000000
    &:hover
      span
        width: 400px
        height: 300px
    .btn_hover
      width: 0
      height: 0
      content: ""
      z-index: 1
      position: absolute
      background: radial-gradient(circle closest-side,rgb(255 255 255 / 80%),transparent)
      transform: translate(-50%,-50%)
      transition: width .2s ease,height .2s ease
      left: 0
      top: 0
      pointer-events: none
  .boxImages
    //position: relative
    img
      //content: ""
      //position: absolute
      max-width: 100%
      aspect-ratio: 658/530
      @media screen and (min-width: 992px)
        max-width: 115%
      @media screen and (min-width: 1600px)
        max-width: 124%
        margin-bottom: 55px
        margin-left: -25px
.swiper
  width: 100%
  height: 100%

@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0

