@import "styles/common"

.total_content
  background: linear-gradient(209deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%)
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.25)
  border: 1px solid rgba(152, 84, 254, 0.2)
  backdrop-filter: blur(6px)
  min-width: 270px
  max-width: 270px
  min-height: 220px
  border-radius: 20px
  padding: 0px 45px
  margin-bottom: 40px
  @apply flex flex-col items-center justify-center text-white text-center

  h1
    @apply text-total
    @include my-text(32px, 36px, 400)
  h2
    @include my-text(68px, 56px, 700)
    padding-top: 12px
    font-family: 'MyFont'
    color: #FFFFFF

// reponsive

@media (min-width: 1025px) and (max-width: 1400px)
  .total_content
    max-width: 24%
    min-width: 24%
    margin-right: 0

    h1
      font-size: 28px
    h2
      font-size: 48px


@media (min-width: 992px) and (max-width: 1024px)
  .total_content
    max-width: 24%
    min-width: 24%
    margin-right: 0

    h1
      font-size: 24px
    h2
      font-size: 40px

@media (min-width: 768px) and (max-width: 991px)
  .total_content
    padding: 0
    max-width: 24%
    min-width: 24%
    margin-right: 0
    min-height: 180px

    h1
      font-size: 28px
    h2
      font-size: 48px

@media (min-width:  541px) and (max-width: 767px)
  .total_content
    min-width: 44%
    max-width: 44%
    min-height: 200px
    margin: 12px 0px

    h1
      font-size: 24px
    h2
      font-size: 40px

@media (min-width: 0px) and (max-width: 540px)
  .total_content
    min-width: 44%
    max-width: 44%
    min-height: 162px
    margin: 8px 0px

    h1
      font-size: 18px
    h2
      font-size: 36px
      padding: 0