.section
  margin-bottom: 80px
  @media screen and (min-width: 1200px)
    margin-bottom: 200px
.sectionTitle
  font-family: 'Revx Neue Demo'
  font-weight: 400
  font-size: 24px
  text-align: center
  letter-spacing: 0.2em
  color: #FFFFFF
  @media screen and (min-width: 1200px)
    font-size: 48px
.sectionDesc
  font-family: 'Lexend'
  font-weight: 300
  font-size: 14px
  line-height: 20px
  letter-spacing: 0.02em
  color: #DBE0E8
  @media screen and (min-width: 1200px)
    font-size: 24px
    line-height: 33px