.content_roamap
  @apply relative
  max-width: 310px
  margin-bottom: 24px
  width: 25%
  .heading_roamap
    @apply absolute left-8 text-white
    top: 30%
    max-width: 240px
    p
      font-size: 18px
      line-height: 22px
      margin: 0
      font-family: 'Saira'
      margin-bottom: 8px
      font-weight: 300
      b 
        font-weight: 600
      small 
        font-size: 14px
        line-height: 16px
  .bg_year
    @apply absolute
    top: 13%
    right: 42%
    p
      @apply absolute text-white
      font-family: 'Transformer'
      font-size: 24px
      line-height: 26px
      white-space: nowrap

@media (min-width: 992px) and (max-width: 1439px)
  .content_roamap
    width: 25%
    .heading_roamap
      max-width: 222px
      top: 28%
      left: 24px
      p
        font-size: 19px
        line-height: 23px
    .bg_year
      top: 13%
      p
        font-size: 19px
        line-height: 23px
@media (min-width: 992px) and (max-width: 1279px)
  .content_roamap
    .heading_roamap
      max-width: 177px
      p
        font-size: 13px
        line-height: 14px
    .bg_year
      top: 11%
@media (min-width: 769px) and (max-width: 991px)
  .content_roamap
    .heading_roamap
      left: 19px
      max-width: 134px
      p
        font-size: 11px
        line-height: 12px
        margin-bottom: 4px
        small
          font-size: 8px
    .bg_year
      top: 9%
      p
        font-size: 16px
@media (min-width: 640px) and (max-width: 768px)
  .content_roamap
    width: 50%
    .heading_roamap
      max-width: 221px
      p
        font-size: 18px
        line-height: 20px
    .bg_year
      top: 12%
@media (min-width: 540px) and (max-width: 639px)
  .content_roamap
    width: 50%
    .heading_roamap
      top: 30%
      max-width: 194px
      p
        font-size: 15px
        line-height: 17px
    .bg_year
      top: 11%
      right: 46% 
@media (min-width: 415px) and (max-width: 539px)
  .content_roamap
    width: 50%
    .heading_roamap
      top: 30%
      max-width: 146px
      left: 18px
      p
        font-size: 11px
        line-height: 14px
        margin-bottom: 5px
        small
          font-size: 9px
    .bg_year
      top: 9%
      p
        font-size: 16px
@media (min-width: 0px) and (max-width: 414px)
  .content_roamap
    width: 50%
    .heading_roamap
      top: 30%
      max-width: 124px
      left: 18px
      p
        font-size: 10px
        line-height: 12px
        margin-bottom: 2px
        small
          font-size: 7px
    .bg_year
      top: 9%
      right: 46%
      p
        font-size: 16px