
#container {
  height: 400px;
  background-color: transparent;
  max-width: 1440px !important;
}
/* .container_chart{
} */


.highchartsFigure,
.highcharts-data-table table {
  margin-top: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap-reverse; */
  /* min-width: 310px; */
  /* max-width: 1440px !important; */
  /* margin: 1em auto; */
}
.im_token{
  flex: 400px 0;
}
.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
@media (min-width: 992px) and (max-width: 1439px){
  .highchartsFigure,
  .highcharts-data-table table{
    margin-top: 50px;
  }
  .im_token{
    flex: 300px 0;
  }
}

@media (min-width: 0px) and (max-width: 991px){
  .highchartsFigure,
  .highcharts-data-table table{
    flex-direction: column;
    max-width: 100% !important;
    align-items: center;
    margin-top: 50px;
  }
  .highchartsFigure img{
    max-width: 100% !important
  }
}

@media (min-width: 0px) and (max-width: 540px){
  .im_token{
    flex: 0 0;
  }
}
