.pcMenu
  border-bottom: 1px solid #010242

.mobileMenu
  border-bottom: 1px solid #010242
  padding: 10px 0

.mHumber
  position: absolute
  right: 30px
  top: 10px

.container
  padding: 0 30px

//@media (min-width: 992px) and (max-width: 1024px)
//  .container
//    max-width: 992px
//    padding: 0px 3rem
