.pcMenu
  border-bottom: 1px solid #010242

.mobileMenu
  border-bottom: 1px solid #010242
.menuMobile
  margin-top: 0
  padding: 10px 12px
.mHumber
  position: absolute
  top: 10px
  right: 12px

.container
  padding: 0 30px



// .scale_bg
//   clip-path: circle(1200px at 262px 33px) 

//@media (min-width: 992px) and (max-width: 1024px)
//  .container
//    max-width: 992px
//    padding: 0px 3rem
